<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="layui-main mgt10">
		<style type="text/css">
.layui-table-cell {
	height: auto;
	line-height: 22px;
}
</style>
		<script type="text/html" id="opBar">
			<a class="layui-btn layui-btn-xs" lay-event="download1">附件1</a>&nbsp;
			<a class="layui-btn layui-btn-xs" lay-event="download2">附件2</a>
		</script>
		<script type="text/javascript">
			var addApplys;
			$(function() {
				addApplys = $("#add-apply").html();
				$("#add-apply").html("");
				layui.use('form', function() {
					var form = layui.form;
					form.render('select', 'form1');
				});
			});
			layui.use('laydate', function() {

				var laydate = layui.laydate;

				//执行一个laydate实例
				laydate.render({
					elem : '#beginTime' //指定元素
					,
					value : getBeginMonthDate(),
					trigger : 'click',

				});
				laydate.render({
					elem : '#endTime' //指定元素
					,
					value : getEndMonthDate(),
					trigger : 'click',

				});
			});
		</script>
		<script type="text/javascript">
			layui.use('table', function() {
				var table = layui.table;
				//第一个实例
				table.render({
					elem : '#accountRecords',
					url : '/financial/queryAccountRecords' //数据接口
					,
					contentType : 'application/json',
					method : 'post',
					page : true //开启分页
					,
					where : {
						beginDate : getBeginMonthDate().format("yyyy-MM-dd"),
						endDate : getEndMonthDate().format("yyyy-MM-dd"),
					},
					cols : [ [ //表头
					{
						field : 'id',
						title : 'ID',
						width : 60,
						sort : true,
					}, {
						field : 'createStaff',
						title : 'createStaff',
						width : 60,
						sort : true,
					}, {
						field : 'type',
						title : '报销类型',
						width : 100,
					}, {
						field : 'amount',
						title : '金额',
						width : 80
					}, {
						field : 'theDate',
						title : '报销日期',
						width : 110
					}, {
						field : 'desc',
						title : '事由',
						width : 160
					}, {
						field : 'approver',
						title : '审批人',
						width : 100
					}, {
						field : 'status',
						title : '审批状态',
						width : 90
					}, {
						field : 'createTime',
						title : '申请时间',
						width : 130
					}, {
						field : 'why',
						title : '拒绝原因',
						width : 120
					}, {
						field : 'file',
						title : '附件',
						width : 140,
						toolbar : "#opBar",
					} ] ],
					done : function(res, curr, count) {
						$("[data-field='createStaff']").css('display', 'none');
						$("[data-field='id']").css('display', 'none');
					}
				});
				var $ = layui.$, active = {
					reload : function() {
						//执行重载
						table.reload('accountRecords', {
							page : {
								curr : 1
							//重新从第 1 页开始
							},
							where : {
								beginDate : $("#beginTime").val(),
								endDate : $("#endTime").val(),
								desc : $("#desc").val()
							}
						});
					}
				};
				$('#queryButton').on('click', function() {
					var type = $(this).data('type');
					active[type] ? active[type].call(this) : '';
				});
				table.on('tool(accountRecords)', function(obj) {
					var data = obj.data; //获得当前行数据
					var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
					var tr = obj.tr; //获得当前行 tr 的DOM对象
					if (layEvent == 'download1') {
						onDownloadBtn(data, "file1");
					} else if (layEvent == 'download2') {
						onDownloadBtn(data, "file2");
					}
				});
				function onDownloadBtn(data, name) {
					var url = '/financial/downloadAccountRecordFile?id='
							+ data.id + '&fileName=' + name;
					window.open(url, 'top');
				}
			});
			function onAddBtn() {
				layer.open({
					type : 1,
					title : "新建申请",
					closeBtn : false,
					shift : 2,
					area : [ '490px', '560px' ],
					shadeClose : true,
					content : $("#open-main"),
					success : function(layero, index) {
						$("#open-main").html("");
						$("#open-main").html(addApplys);
						layui.laydate.render({
							elem : '#theDate' //指定元素
							,
							value : new Date(),
							trigger : 'click',

						});
						var form = layui.form;
						form.render('select', 'form1');
					},
					yes : function() {
					}
				});
			}
			function CloseWin() {
				layer.close(layer.index);
			}
			function newApply() {
				var reg = /^[0-9]+(.[0-9]{2})?$/;
				if (!reg.test($("#amount").val())) {
					alert("请输入正确报销金额");
					return false;
				}
				if($("#applyDesc").val().length==0){
					alert("请填写事由");
					return false;
				}
				var targetUrl = $("#applyform1").attr("action");
				var data = new FormData($("#applyform1")[0]);
				$.ajax({
					type : 'post',
					url : targetUrl,
					cache : false, //上传文件不需缓存
					processData : false, //需设置为false。因为data值是FormData对象，不需要对数据做处理
					contentType : false, //需设置为false。因为是FormData对象，且已经声明了属性enctype="multipart/form-data"
					data : data,
					success : function(data) {
						alert('提交成功');
						CloseWin();
						$("#queryButton").click();
					},
					error : function() {
						alert("提交失败，可能上传附件过大，请确保在1M以内");
						CloseWin();
						$("#queryButton").click();
					}
				});
			}
		</script>
		<label class="layui-inline mgr10">申请事由</label>
		<div class="layui-inline mgr10">
			<input type="text" id="desc" name="desc" required
				lay-verify="required" placeholder="请输入申请事由" autocomplete="off"
				class="layui-input">
		</div>
		<div class="layui-inline mgr10">
			<label>开始时间:</label>
			<div class="layui-input-inline">
				<input type="text" id="beginTime">
			</div>
		</div>
		<div class="layui-inline mgr10">
			<label>结束时间:</label>
			<div class="layui-input-inline">
				<input type="text" id="endTime">
			</div>
		</div>
		<div class="layui-inline mgr10">
			<button class="layui-btn layui-btn-radius" id="queryButton"
				data-type="reload">查询</button>
		</div>
		<div class="layui-inline mgr10">
			<button class="layui-btn layui-btn-radius" id="addButton"
				onclick="onAddBtn()">新增</button>
		</div>
		<div>
			<table id="accountRecords" lay-filter="accountRecords"></table>
		</div>
	</div>
	<!-- 新增申请框 -->
	<div id="add-apply" style="display: none;">
		<form class="layui-form" action="/financial/newAccountRecordApply"
			lay-filter="form1" id="applyform1" method="post"
			enctype="multipart/form-data">

			<div class="layui-form-item mgt30">
				<label class="layui-form-label">报销类型</label>
				<div class="layui-input-block" style="width: 100px">
					<select id="applyType" name="applyType" lay-filter="applyType"
						class="layui-select" lay-search>
						<option th:each="type : ${typeList}"
							th:value="
						${type.paramKey}" th:text="${type.paramValue}">全部</option>
					</select>
				</div>
			</div>

			<div class="layui-form-item center mgt30">
				<label class="layui-form-label">报销金额（单位元）</label>
				<div class="layui-input-block">
					<input type="text" id="amount" name="amount" required value=""
						style="width: 100px" lay-verify="required" autocomplete="off"
						class="layui-input">
				</div>
			</div>
			<div class="layui-form-item center mgt20">
				<label class="layui-form-label">事由</label>
				<div class="layui-input-block">
					<input type="text" id="applyDesc" name="applyDesc" required
						value="" style="width: 280px" lay-verify="required"
						autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item center mgt30">
				<label class="layui-form-label">报销日期</label>
				<div class="layui-input-block">
					<input type="text" id="theDate" name="theDate" class="layui-input"
						style="width: 180px">
				</div>
			</div>
			<div class="layui-form-item center mgt30">
				<label class="layui-form-label">附件1</label>
				<div class="layui-input-block">
					<input type="file" name="file1" class="mgt10" />
				</div>
			</div>
			<div class="layui-form-item center mgt30">
				<label class="layui-form-label">附件2</label>
				<div class="layui-input-block">
					<input type="file" name="file2" class="mgt10" />
				</div>
			</div>
		</form>
		<div class="layui-form-item mgt30">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="save"
					onclick="newApply()">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary"
					id="closeBtn" onclick="CloseWin()">关闭</button>
			</div>
		</div>
	</div>
</body>
</html>