<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="layui-main mgt10">
		<style type="text/css">
.layui-table-cell {
	height: auto;
	line-height: 22px;
}
</style>
		<script type="text/html" id="opBar">
			<a class="layui-btn layui-btn-xs" lay-event="modify">修改</a>
		</script>
		<script type="text/javascript">
			var modifyReduces;
			var addReduces;
			$(function() {
				modifyReduces = $("#modify-reduce").html();
				$("#modify-reduce").html("");
				addReduces = $("#add-reduce").html();
				$("#add-reduce").html("");
				layui.use('form', function() {
					var form = layui.form;
					form.render('select', 'form1');
					form.render('select', 'form2');
					$('#brand').change(function() {
						if($("#brand").val() == '0'){
							$("#member").html("");
							$("#member").html("<option value=\"0\">全部</option>");
							form.render('select', 'form1');
							return;
						}
						$.ajax({
							url : '/public/queryMemberByBrand',
							type : "post",
							dataType : "json",
							contentType : "application/json",
							async : false,
							data : JSON.stringify({
								brandId : $("#brand").val()
							}),
							success : function(result) {
								var option = "<option value='0'>全部</option>";
								if (result.code == 0) {
									$("#member").html("");
									$.each(result.data, function(key, val) {
										option += "<option value='" + val.id + "'>";
										option += val.memberName + "</option>";
									});
									$("#member").html(option);
									form.render('select', 'form1');
								}
							}
						});
					});
				});
				

			});
			function changeBrand2(){
				if($("#brand2").val() == '0'){
					$("#member2").html("");
					$("#member2").html("<option value=\"0\">全部</option>");
					layui.form.render('select', 'form2');
					return;
				}
				$.ajax({
					url : '/public/queryMemberByBrand',
					type : "post",
					dataType : "json",
					contentType : "application/json",
					async : false,
					data : JSON.stringify({
						brandId : $("#brand2").val()
					}),
					success : function(result) {
						var option = "<option value='0'>全部</option>";
						if (result.code == 0) {
							$("#member2").html("");
							$.each(result.data, function(key, val) {
								option += "<option value='" + val.id + "'>";
								option += val.memberName + "</option>";
							});
							$("#member2").html(option);
							layui.form.render('select', 'form2');
						}
					}
				});
			}
			layui.use('laydate', function() {

				var laydate = layui.laydate;

				//执行一个laydate实例
				laydate.render({
					elem : '#orderBeginTime' //指定元素
					,
					value : getBillBeginDate(),trigger: 'click'
				});
				laydate.render({
					elem : '#reduceDate' //指定元素
					,
					value : new Date().format("yyyy-MM-dd"),trigger: 'click'
				});
				laydate.render({
					elem : '#reduceDate2' //指定元素
					,
					value : new Date().format("yyyy-MM-dd"),trigger: 'click'
				});				
			});
		</script>
		<script type="text/javascript">
			layui.use('table', function() {
				var table = layui.table;
				//第一个实例
				table.render({
					elem : '#MemberReduceReport',
					url : '/report/member/reduceQuery' //数据接口
					,
					contentType : 'application/json',
					method : 'post',
					page : true //开启分页
					,
					where : {
						beginDate : getBillBeginDate().format("yyyy-MM-dd"),
						endDate : getBillBeginDate().format("yyyy-MM-dd"),
					},
					cols : [ [ //表头
					{
						field : 'reduceId',
						title : 'ID',
						width : 60,
						sort : true,
					},{
						field : 'memberId',
						title : 'memberId',
						width : 60,
						sort : true,
					}, {
						field : 'memberName',
						title : '加盟商',
						width : 120,
					}, {
						field : 'reduceDate',
						title : '减免日期',
						width : 120
					}, {
						field : 'reduceAmount',
						title : '减免/奖励金额',
						width : 180
					}, {
						field : 'reduceItem',
						title : '减免/奖励事由',
						width : 460
					},{
						field : 'op',
						title : '操作',
						toolbar : "#opBar",
						width : 138
					} ] ],
					done : function(res, curr, count) {
						$("[data-field='id']").css('display', 'none');
						$("[data-field='memberId']").css('display', 'none');
						$("[data-field='brand']").css('display', 'none');
					}
				});
				var $ = layui.$, active = {
					reload : function() {
						//执行重载
						table.reload('MemberReduceReport', {
							page : {
								curr : 1
							//重新从第 1 页开始
							},
							where : {
								beginDate : $("#orderBeginTime").val(),
								endDate : $("#orderBeginTime").val(),
								memberId : $("#member").val(),
								brandId : $("#brand").val(),
							}
						});
					}
				};
				$('#queryButton').on('click', function() {
					var type = $(this).data('type');
					active[type] ? active[type].call(this) : '';
				});
				table.on('tool(MemberReduceReport)', function(obj) {
					var data = obj.data; //获得当前行数据
					var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
					var tr = obj.tr; //获得当前行 tr 的DOM对象
					if (layEvent == 'modify') {
						onModifyBtn(data);
					}
				});
				function onModifyBtn(data) {
					$("#reducePrice").val("");
					$("#reduceItem").val("");					
					$("#reduceId").val("");	
					$("#memberId").val("");
					layer.open({
						type : 1,
						title : "新建减免/奖励",
						closeBtn : false,
						shift : 2,
						area : [ '520px', '570px'],
						shadeClose : true,
						content : $("#open-main"),
						success : function(layero, index) {
							$("#open-main").html("");
							$("#open-main").html(modifyReduces);
							$("#reduceAmount").val(parseFloat(data.reduceAmount)*100);
							$("#reduceItem").val(data.reduceItem);
							$("#reduceId").val(data.reduceId);
							$("#memberId").val(data.memberId);
							layui.laydate.render({
								elem : '#reduceDate' //指定元素
								,
								value : data.reduceDate
							});
						},
						yes : function() {
						}
					});
				}
			});
			
			function onAddBtn() {
				layer.open({
					type : 1,
					title : "新建减免/奖励",
					closeBtn : false,
					shift : 2,
					area : [ '520px', '570px' ],
					shadeClose : true,
					content : $("#open-main"),
					success : function(layero, index) {
						$("#open-main").html("");
						$("#open-main").html(addReduces);
						$("#brand2").get(0).selectedIndex = 0;
						$("#member2").get(0).selectedIndex = 0;
						layui.form.render('select', 'form2');
						layui.laydate.render({
							elem : '#reduceDate2' //指定元素
							,
							value : new Date().format("yyyy-MM-dd")
						});
					},
					yes : function() {
					}
				});
			}
			function CloseWin() {
				layer.close(layer.index);
			}
			function newReduce() {
				var memberId = $("#member2").val();
				if(memberId == '0'){
					alert("请选择加盟商");
					return;
				}
				var re = /^[1-9]+\.?[0-9]*]*$/; 
				var reduceAmount = $("#reduceAmount2").val();
				if (!re.test(reduceAmount)) {
				　　alert("请输入正确的金额");
				　　return;
				}
				$.ajax({
					url : '/financial/newReduce',
					type : "post",
					dataType : "json",
					contentType : "application/json",
					async : false,
					data : JSON.stringify({
						memberId : memberId,
						reduceAmount : reduceAmount,
						reduceItem :  $("#reduceItem2").val(),
						reduceDate : $("#reduceDate2").val()
					}),
					success : function(result) {
						if (result.code == 0) {
							alert("添加成功");
							CloseWin();
							$('#queryButton').click();
						} else {
							alert("系统异常: " + result.message);
						}
					}
				});
			}
			function modifyReduce(data){
				var reduceId = $("#reduceId").val();
				var re2 = /^[0-9]+\.?[0-9]*]*$/; 
				var reduceAmount = $("#reduceAmount").val() + "";
				if (!re2.test(reduceAmount)) {
					alert("请输入正确的金额");
					return;
				}
				$.ajax({
					url : '/financial/modifyReduce',
					type : "post",
					dataType : "json",
					contentType : "application/json",
					async : false,
					data : JSON.stringify({
						reduceId : reduceId,
						reduceAmount : reduceAmount,
						reduceItem : $("#reduceItem").val(),
						reduceDate : $("#reduceDate").val(),
						memberId: $("#memberId").val(),
					}),
					success : function(result) {
						if (result.code == 0) {
							alert("修改成功");
							CloseWin();
							$('#queryButton').click();
						} else {
							alert("系统异常: " + result.message);
						}
					},
					error : function(){
						alert("系统异常");
					}
				});
			}

		</script>
		<label class="layui-inline mgr10">品牌</label>
		<div class="layui-inline mgr10">
			<select id="brand" type="text" name="brand" lay-filter="brand"
				class="layui-select" lay-search="">
				<option th:each="brand : ${brandList}"
					th:value="
						${brand.paramKey}" th:text="${brand.paramValue}">全部</option>
			</select>
		</div>
		<div class="layui-inline mgr10">
			<label class="layui-inline mgr10">加盟商</label>
			<div class="layui-inline mgr10" id="search">
				<form class="layui-form" action="" lay-filter="form1">
					<select id="member" name="member" lay-filter="member"
						class="layui-select" lay-search>
						<option value="0">全部</option>
					</select>
				</form>
			</div>
		</div>
		<div class="layui-inline mgr10">
			<label>订购时间:</label>
			<div class="layui-input-inline">
				<input type="text" id="orderBeginTime">
			</div>
		</div>
		<div class="layui-inline mgr10">
			<button class="layui-btn layui-btn-radius" id="queryButton"
				data-type="reload">查询</button>
		</div>
		<div class="layui-inline mgr10">
			<button class="layui-btn layui-btn-radius" id="addButton"
				onclick="onAddBtn()">新增</button>
		</div>

		<div>
			<table id="MemberReduceReport" lay-filter="MemberReduceReport"></table>
		</div>
		<!-- 新增减免记录框 -->
		<div id="add-reduce" style="display: none;">
			<div class="layui-form-item mgt30">
				<label class="layui-form-label">品牌</label>
				<div class="layui-input-block">
					<select id="brand2" name="brand2" lay-filter="brand2"
						class="layui-select" onchange="changeBrand2()">
						<option th:each="brand : ${brandList}"
							th:value="
						${brand.paramKey}"
							th:text="${brand.paramValue}">全部</option>
					</select>
				</div>
			</div>
			<form class="layui-form" action="" lay-filter="form2">
				<div class="layui-form-item mgt30">
					<label class="layui-form-label">加盟商</label>
					<div class="layui-input-block" style="width: 320px">
						<select id="member2" name="member2" lay-filter="member2"
							class="layui-select" lay-search>
							<option value="0">全部</option>
						</select>
					</div>
				</div>
				<div class="layui-form-item center mgt30">
					<label class="layui-form-label">减免/奖励金额（单位分）</label>
					<div class="layui-input-block">
						<input type="text" id="reduceAmount2" required value=""
							style="width: 100px" lay-verify="required" autocomplete="off"
							class="layui-input">
					</div>
				</div>
				<div class="layui-form-item center mgt30">
					<label class="layui-form-label">减免/奖励事由</label>
					<div class="layui-input-block">
						<input type="text" id="reduceItem2" required value=""
							style="width: 280px" lay-verify="required" autocomplete="off"
							class="layui-input">
					</div>
				</div>
				<div class="layui-form-item center mgt30">
					<label class="layui-form-label">日期</label>
					<div class="layui-input-block">
						<input type="text" id="reduceDate2" class="layui-input"
							style="width: 180px">
					</div>
				</div>
			</form>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="save"
						onclick="newReduce()">立即提交</button>
					<button type="reset" class="layui-btn layui-btn-primary"
						id="closeBtn" onclick="CloseWin()">关闭</button>
				</div>
			</div>
		</div>
		<!-- 修改减免记录框 -->
		<div id="modify-reduce" style="display: none;">
			<div class="layui-form-item center mgt30">
				<label class="layui-form-label">减免/奖励金额（单位分）</label>
				<div class="layui-input-block">
					<input type="text" id="reduceAmount" required value=""
						style="width: 100px" lay-verify="required" autocomplete="off"
						class="layui-input">
				</div>
			</div>
			<div class="layui-form-item center mgt30">
				<label class="layui-form-label">日期</label>
				<div class="layui-input-block">
					<input type="text" id="reduceDate" class="layui-input"
						style="width: 180px"><input type="text" id="reduceId"
						style="display: none"><input type="text" id="memberId"
						style="display: none">
				</div>
			</div>
			<div class="layui-form-item center mgt20">
				<label class="layui-form-label">减免/奖励事由</label>
				<div class="layui-input-block">
					<input type="text" id="reduceItem" required value=""
						style="width: 200px" lay-verify="required" autocomplete="off"
						class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="save"
						onclick="modifyReduce()">立即提交</button>
					<button type="reset" class="layui-btn layui-btn-primary"
						id="closeBtn" onclick="CloseWin()">关闭</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>