<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="layui-main mgt10">
		<style type="text/css">
.layui-table-cell {
	height: auto;
	line-height: 22px;
}
</style>
		<script type="text/html" id="opBar">
			<a class="layui-btn layui-btn-xs" lay-event="download1">附件1</a>&nbsp;
			<a class="layui-btn layui-btn-xs" lay-event="download2">附件2</a>
		</script>
		<script type="text/html" id="checkBar">
  			<input type="checkbox" lay-event="selectApply" lay-ignore/>
		</script>
		<script type="text/javascript">
			var addReject;
			var myMap = new Map();
			$(function() {
				addReject = $("#add-reject").html();
				$("#add-reject").html("");
			});
			layui.use('laydate', function() {

				var laydate = layui.laydate;

				//执行一个laydate实例
				laydate.render({
					elem : '#beginTime' //指定元素
					,
					value : getBillBeginDate(),
					trigger : 'click',

				});
				laydate.render({
					elem : '#endTime' //指定元素
					,
					value : getBillEndDate(),
					trigger : 'click',

				});
			});
		</script>
		<script type="text/javascript">
			layui.use('table', function() {
				var table = layui.table;
				//第一个实例
				table.render({
					elem : '#accountRecords',
					url : '/financial/queryAccountRecords' //数据接口
					,
					contentType : 'application/json',
					method : 'post',
					page : true //开启分页
					,
					where : {
						beginDate : getBillBeginDate().format("yyyy-MM-dd"),
						endDate : getBillEndDate().format("yyyy-MM-dd"),
					},
					cols : [ [ //表头
					{
						field : 'id',
						title : 'ID',
						width : 60,
						sort : true,
					}, {
						field : 'check',
						title : '',
						width : 45,
						toolbar : "#checkBar"
					}, {
						field : 'createStaff',
						title : '报销人',
						width : 100,
					}, {
						field : 'type',
						title : '报销类型',
						width : 100,
					}, {
						field : 'amount',
						title : '金额',
						width : 70
					}, {
						field : 'theDate',
						title : '报销日期',
						width : 105
					}, {
						field : 'desc',
						title : '事由',
						width : 130
					}, {
						field : 'recordUser',
						title : '审批人',
						width : 80
					}, {
						field : 'status',
						title : '状态',
						width : 80
					}, {
						field : 'createTime',
						title : '申请时间',
						width : 145
					}, {
						field : 'why',
						title : '拒绝原因',
						width : 120
					}, {
						field : 'file',
						title : '附件',
						width : 130,
						toolbar : "#opBar",
					} ] ],
					done : function(res, curr, count) {
						$("[data-field='id']").css('display', 'none');
					}
				});
				var $ = layui.$, active = {
					reload : function() {
						myMap = new Map();
						//执行重载
						table.reload('accountRecords', {
							page : {
								curr : 1
							//重新从第 1 页开始
							},
							where : {
								beginDate : $("#beginTime").val(),
								endDate : $("#endTime").val(),
								desc : $("#desc").val()
							}
						});
					}
				};
				$('#queryButton').on('click', function() {
					myMap = new Map();
					var type = $(this).data('type');
					active[type] ? active[type].call(this) : '';
				});
				table.on('tool(accountRecords)', function(obj) {
					var data = obj.data; //获得当前行数据
					var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
					var tr = obj.tr; //获得当前行 tr 的DOM对象
					if (layEvent == 'download1') {
						onDownloadBtn(data, "file1");
					} else if (layEvent == 'download2') {
						onDownloadBtn(data, "file2");
					}
					if (layEvent == 'selectApply') {
						var flag = $(tr).find("input:eq(0)").prop('checked');
						if(flag){
							myMap.set(data.id, data.status);
						}else{
							delete myMap[data.id];
						}
					}
				});			
				function onDownloadBtn(data, name) {
					var url = '/financial/downloadAccountRecordFile?id='
							+ data.id + '&fileName=' + name;
					window.open(url, 'top');
				}
			});
			function onRejectBtn() {
				if(myMap.size != 1){
					alert("请选中一条记录");
					return;
				}
				var id;
				for (var item of myMap.keys()) id = item;
				if(myMap.get(id) != "待审批"){
					alert("已不允许审批");
					return;
				}
				layer.open({
					type : 1,
					title : "拒绝原因填写",
					closeBtn : false,
					shift : 2,
					area : [ '490px', '260px' ],
					shadeClose : true,
					content : $("#open-main"),
					success : function(layero, index) {
						$("#open-main").html("");
						$("#open-main").html(addReject);
					},
					yes : function() {
					}
				});
			}
			function CloseWin() {
				layer.close(layer.index);
			}
			function newReject() {
				if ($("#why").val().length == 0) {
					alert("请填写拒绝原因");
					return false;
				}
				var id;
				for (var item of myMap.keys()) id = item;
				if(myMap.get(id) != "待审批"){
					alert("已不允许审批");
					return;
				}
				CloseWin();
				$.ajax({
					type : "post",
					url : "/financial/rejectAccountRecordApply",
					contentType : "application/json",
					data : JSON.stringify({
						id : id,
						why : $("#why").val()
					}),
					success : function(result) {
						if (result.code == 0) {
							alert("操作成功");
						} else {
							alert("系统异常: " + result.message);
						}
						$("#queryButton").click();
					},
					error : function() {
						alert("系统错误");
					}
				});
			}
			function onApproveBtn() {
				if(myMap.size != 1){
					alert("请选中一条记录");
					return;
				}
				var id;
				for (var item of myMap.keys()) id = item;
				if(myMap.get(id) != "待审批"){
					alert("已不允许审批");
					return;
				}
				$.ajax({
					type : "post",
					url : "/financial/approveAccountRecordApply",
					contentType : "application/json",
					data : JSON.stringify({
						id : id
					}),
					success : function(result) {
						if (result.code == 0) {
							alert("操作成功");
						} else {
							alert("系统异常: " + result.message);
						}
						$("#queryButton").click();
					},
					error : function() {
						alert("系统错误");
					}
				});
			}
		</script>
		<label class="layui-inline mgr10">申请事由</label>
		<div class="layui-inline mgr10">
			<input type="text" id="desc" name="desc" required
				lay-verify="required" placeholder="请输入申请事由" autocomplete="off"
				class="layui-input">
		</div>
		<div class="layui-inline mgr10">
			<label>开始时间:</label>
			<div class="layui-input-inline">
				<input type="text" id="beginTime">
			</div>
		</div>
		<div class="layui-inline mgr10">
			<label>结束时间:</label>
			<div class="layui-input-inline">
				<input type="text" id="endTime">
			</div>
		</div>
		<div class="layui-inline mgr10">
			<button class="layui-btn layui-btn-radius" id="queryButton"
				data-type="reload">查询</button>
		</div>
		<div>
			<table id="accountRecords" lay-filter="accountRecords"></table>
		</div>
		<div class="layui-inline mgr10">
			<button class="layui-btn layui-btn-radius" id="approveButton" onclick="onApproveBtn()">同意</button>
			<button class="layui-btn layui-btn-radius" id="rejectButton"
				onclick="onRejectBtn()">拒绝</button>
		</div>
	</div>
	<!-- 新增拒绝框 -->
	<div id="add-reject" style="display: none;">
		<div class="layui-form-item center mgt20">
			<label class="layui-form-label">拒绝原因</label>
			<div class="layui-input-block">
				<input type="text" id="why" name="why" required value=""
					style="width: 280px" lay-verify="required" autocomplete="off"
					class="layui-input">
			</div>
		</div>
		<div class="layui-form-item center mgt30" style="display: none;">
			<input type="text" id="applyId" name="applyId" class="layui-input"
				style="width: 180px">
		</div>
		<div class="layui-form-item mgt30">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="save"
					onclick="newReject()">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary"
					id="closeBtn" onclick="CloseWin()">关闭</button>
			</div>
		</div>
	</div>
</body>
</html>