<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="layui-main mgt10">
		<style type="text/css">
.layui-table-cell {
	height: auto;
	line-height: 16px;
}
</style>
		<script type="text/html" id="opBar">
  			<a class="layui-btn layui-btn-xs" lay-event="deleteMember">删除</a>
			<a class="layui-btn layui-btn-xs" lay-event="modifyMember">修改并生效</a>
		</script>
		<script type="text/html" id="checkBar">
			<input type="checkbox" lay-event="bindSupplier" lay-ignore/>
		</script>
		<script type="text/javascript">
			var flag = 1;
			var memberId = 0;
			var addMembers;
			$(function() {
				addMembers = $("#add-member").html();
				$("#add-member").html("");
			});			
			layui.use('table', function() {
				var table = layui.table;
				//第一个实例
				table.render({
					elem : '#MemberList',
					url : '/public/queryMember' //数据接口
					,
					contentType : 'application/json',
					method : 'post',
					page : true //开启分页
					,
					limits : [ 5 ],
					limit : 5,
					where : {
						brandId : document.getElementById("brand").value,
						memberName : document.getElementById("memberName").value
					},
					cols : [ [ //表头
					{
						field : 'id',
						title : 'ID',
						width : 60,
					}, {
						field : 'brand',
						title : '品牌',
						width : 120,
					}, {
						field : 'memberName',
						title : '加盟商',
						width : 120,
					}, {
						field : 'province',
						title : '省份',
						width : 70
					}, {
						field : 'city',
						title : '城市',
						width : 70
					}, {
						field : 'phone',
						title : '电话',
						width : 100
					}, {
						field : 'accName',
						title : '账户',
						width : 90
					}, {
						field : 'accNo',
						title : '账号',
						width : 100
					}, {
						field : 'status',
						title : '状态',
						width : 70,
					}, {
						field : 'address',
						title : '地址',
						width : 130
					}, {
						field : 'role',
						title : '角色',
						width : 80
					}, {
						field : 'op',
						title : '操作',
						toolbar : "#opBar",
						width : 150
					} ] ],
					done : function(res, curr, count) {
						$("[data-field='id']").css('display','none');
					}
				});
				var $ = layui.$, active = {
					reload : function() {
						//执行重载
						table.reload('MemberList', {
							page : {
								curr : 1
							//重新从第 1 页开始
							},
							where : {
								brandId : document.getElementById("brand").value,
								memberName : document.getElementById("memberName").value
							}
						});
					}
				};
				$('#queryButton').on('click', function() {
					var type = $(this).data('type');
					active[type] ? active[type].call(this) : '';
				});
				table.on('tool(MemberList)', function(obj) { //注：tool是工具条事件名，RoleList是table原始容器的属性 lay-filter="对应的值"
					var data = obj.data; //获得当前行数据
					var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
					var tr = obj.tr; //获得当前行 tr 的DOM对象
					if (layEvent == 'deleteMember') {
						$.ajax({
							type : "post",
							url : "/manager/member/deleteMember",
							contentType : "application/json",
							data : JSON.stringify({
								id : data.id
							}),
							success : function(result) {
								if (result.code == 0) {
									alert("删除成功");
									table.reload('MemberList', {
										page : {
											curr : 1
										//重新从第 1 页开始
										},
										where : {
											brandId : document.getElementById("brand").value,
											memberName : document.getElementById("memberName").value
										}
									});
								} else {
									alert("系统异常: " + result.message);
								}
							},
							error : function() {
								alert("系统错误");
							}
						});
					}
					if(layEvent == 'modifyMember'){
						onModifyBtn(data);
					}
				});
			});
			function onModifyBtn(data) {
				layer.open({
					type : 1,
					title : "修改加盟商",
					closeBtn : false,
					shift : 2,
					area : [ '400px', '530px' ],
					shadeClose : true,
					content : $("#open-main"),
					success : function(layero, index) {
						$("#open-main").html("");
						$("#open-main").html(addMembers);
						var brand3 = $("#brand3").find("option");
						for (var i = 0; i < brand3.length; i++) {
							if (brand3.eq(i).text() == data.brand) {
								$("#brand3").get(0).selectedIndex = i;
							}
						}
						var role = $("#role").find("option");
						for (var i = 0; i < role.length; i++) {
							if (role.eq(i).text() == data.role) {
								$("#role").get(0).selectedIndex = i;
							}
						}
						flag = 2;
						memberId = data.id;
						$("#memberName3").val(data.memberName);
						$("#province").val(data.province);
						$("#city").val(data.city);
						$("#phone").val(data.phone);
						$("#accName").val(data.accName);
						$("#accNo").val(data.accNo);
						$("#address").val(data.address);
					},
					yes : function() {
					}
				});
			}
		
			$('#brand2').change(function() {
				$.ajax({
					url : '/public/queryMemberByBrand',
					type : "post",
					dataType : "json",
					contentType : "application/json",
					async : false,
					data : JSON.stringify({
						brandId : $("#brand2").val()
					}),
					success : function(result) {
						var option = "<option value='0'>全部</option>";
						if (result.code == 0) {
							$("#member").html("");
							$.each(result.data, function(key, val) {
								option += "<option value='" + val.id + "'>";
								option += val.memberName + "</option>";
							});
							$("#member").html(option);
						}
					}
				});
			});
			function onAddBtn() {
				layer.open({
					type : 1,
					title : "新建加盟商",
					closeBtn : false,
					shift : 2,
					area : [ '400px', '530px' ],
					shadeClose : true,
					content : $("#open-main"),
					success : function(layero, index) {
						$("#open-main").html("");
						$("#open-main").html(addMembers);
						$("#brand3").get(0).selectedIndex = 0;
						$("#role").get(0).selectedIndex = 0;
						flag = 1;
						$("#memberName3").val("");
						$("#province").val("");
						$("#city").val("");
						$("#phone").val("");
						$("#accName").val("");
						$("#accNo").val("");
						$("#address").val("");
					},
					yes : function() {
					}
				});
			}
			function saveMember(){
				var memberName = $("#memberName3").val();
				var province = $("#province").val();
				var city = $("#city").val();
				var phone = $("#phone").val();
				var accName = $("#accName").val();
				var accNo = $("#accNo").val();
				var address = $("#address").val();
				var brand = $("#brand3").val();
				var roleId = $("#role").val();
				if(brand == 0){
					alert("请选择品牌");
					return;
				}
				$.ajax({
					type : 'POST',
					url : '/manager/member/addMember',
					data : JSON.stringify({
						memberName : memberName,
						province : province,
						city : city,
						accName : accName,
						phone : phone,
						accNo : accNo,
						address : address,
						brand : brand,
						roleId : roleId,
						flag : flag,
						id : memberId
					}),
					contentType : "application/json",
					async : false,
					success : function(result) {
						if (result.code == 0) {
							alert("添加成功");
							CloseWin();
							$("#queryButton").click();
						} else {
							alert("系统异常: " + result.message);
						}
					}
				});
			}
			function CloseWin() {
				layer.close(layer.index);
			}		
			layui.use('table', function() {
				var table = layui.table;
				//第一个实例
				table.render({
					elem : '#SupplierList',
					url : '/manager/member/queryMemberSupplier' //数据接口
					,
					contentType : 'application/json',
					method : 'post',
					page : true //开启分页
					,
					limits : [ 3 ],
					limit : 3,
					where : {
						memberId : document.getElementById("member").value
					},
					cols : [ [ //表头
					{
						field : 'check',
						title : '绑定',
						width : 60,
						toolbar : "#checkBar"
					}, {
						field : 'groupMapId',
						title : 'ID',
						width : 60,
					}, {
						field : 'supplierId',
						title : 'supplierId',
						width : 60,
					}, {
						field : 'memberId',
						title : 'memberId',
						width : 60,
					}, {
						field : 'supplierName',
						title : '供应商',
						width : 280,
					} ] ],
					done : function(res, curr, count) {
						$("[data-field='groupMapId']").css('display', 'none');
						$("[data-field='supplierId']").css('display', 'none');
						$("[data-field='memberId']").css('display', 'none');
						if (res.data.length > 0) {
							var list = $("input[type='checkbox']");
							$.each(res.data, function(i, item) {
								if (item.checked == true) {
									$(list[i]).attr("checked", 'checked')
								}
							});
						}
					}
				});
				var $ = layui.$, active = {
					reload : function() {
						//执行重载						
						table.reload('SupplierList',
								{
									page : {
										curr : 1
									//重新从第 1 页开始
									},
									where : {
										memberId : document
												.getElementById("member").value
									}
								});
					}
				};
				$('#member').change(function() {
					var memberId = $('#member').val();
					if(memberId == 0){
						return;
					}
					table.reload('SupplierList',
							{
								page : {
									curr : 1
								//重新从第 1 页开始
								},
								where : {
									memberId : document
											.getElementById("member").value
								}
							});
				});
				table.on('tool(SupplierList)', function(obj) {
					var data = obj.data; //获得当前行数据
					var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
					var tr = obj.tr; //获得当前行 tr 的DOM对象
					if (layEvent == 'bindSupplier') {
						if ($("#member").val()==undefined || $("#member").val() == "0") {
							return;
						}
						var flag = $(tr).find("input:eq(0)").prop('checked');
						$.ajax({
							type : "post",
							url : "/manager/member/bindSupplier",
							contentType : "application/json",
							data : JSON.stringify({
								supplierId : data.supplierId,
								memberId : $("#member").val(),
								flag : flag
							}),
							success : function(result) {
								if (result.code == 0) {
									alert("操作成功");
								} else {
									alert("系统异常: " + result.message);
								}
							},
							error : function() {
								alert("系统错误");
							}
						});
					}
				});
			});
		</script>
		<div class="layui-inline mgr10">
			<label class="layui-inline mgr10">品牌选择框</label>
			<div class="layui-inline mgr10">
				<select id="brand" name="brand" lay-filter="brand">
					<option th:each="brand : ${brandList}"
						th:value="
						${brand.paramKey}" th:text="${brand.paramValue}">全部</option>
				</select>
			</div>
		</div>
		<div class="layui-inline mgr10">
			<label class="layui-inline mgr10">加盟商名称</label>
			<div class="layui-inline mgr10">
				<input type="text" id="memberName" name="memberName" required
					lay-verify="required" placeholder="请输入加盟商名称" autocomplete="off"
					class="layui-input">
			</div>
		</div>
		<div class="layui-inline mgr10">
			<button class="layui-btn layui-btn-radius" id="queryButton"
				data-type="reload">查询</button>
		</div>
		<div class="layui-inline mgr10">
			<button class="layui-btn layui-btn-radius" id="addButton"
				data-type="add" onclick="onAddBtn()">新增</button>
		</div>
		<div>
			<table id="MemberList" lay-filter="MemberList"></table>
		</div>
		<div class="layui-inline mgr10 mgt20">
			<label class="layui-inline mgr10">品牌选择框</label>
			<div class="layui-inline mgr10">
				<select id="brand2" name="brand2" lay-filter="brand2">
					<option th:each="brand : ${brandList}"
						th:value="
						${brand.paramKey}" th:text="${brand.paramValue}">全部</option>
				</select>
			</div>
			<div class="layui-inline mgr10">
				<label class="layui-inline mgr10">加盟店选择框</label>
				<div class="layui-inline mgr10">
					<select id="member" name="member" lay-filter="member">
					</select>
				</div>
			</div>
		</div>
		<div>
			<table id="SupplierList" lay-filter="SupplierList"></table>
		</div>
		<div id="add-member" style="display: none;">
			<div class="layui-form-item center mgt20">
				<label class="layui-form-label" style="width: 100px">加盟商名称</label>
				<div class="layui-input-block">
					<input type="text" id="memberName3" required value=""
						style="width: 240px" lay-verify="required" autocomplete="off"
						class="layui-input">
				</div>
			</div>
			<div class="layui-form-item mgt20">
				<label class="layui-form-label" style="width: 100px">省份</label>
				<div class="layui-input-block">
					<input type="text" id="province" required style="width: 240px"
						lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item mgt20">
				<label class="layui-form-label" style="width: 100px">地市</label>
				<div class="layui-input-block">
					<input type="text" id="city" required style="width: 240px"
						lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item mgt20">
				<label class="layui-form-label" style="width: 100px">手机号</label>
				<div class="layui-input-block">
					<input type="text" id="phone" required style="width: 240px"
						lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item mgt20">
				<label class="layui-form-label" style="width: 100px">账户</label>
				<div class="layui-input-block">
					<input type="text" id="accName" required style="width: 240px"
						lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item mgt20">
				<label class="layui-form-label" style="width: 100px">账号</label>
				<div class="layui-input-block">
					<input type="text" id="accNo" required style="width: 240px"
						lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			</div>	
			<div class="layui-form-item mgt20">
				<label class="layui-form-label" style="width: 100px">地址</label>
				<div class="layui-input-block">
					<input type="text" id="address" required style="width: 240px"
						lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item mgt20">
				<label class="layui-form-label" style="width: 100px">品牌选择框</label>
				<div class="layui-input-block">
					<select id="brand3" name="brand3" lay-filter="brand3"
						class="layui-select">
						<option th:each="brand : ${brandList}"
							th:value="
						${brand.paramKey}"
							th:text="${brand.paramValue}">全部</option>
					</select>
				</div>
			</div>	
			<div class="layui-form-item mgt20">
				<label class="layui-form-label" style="width: 100px">角色选择框</label>
				<div class="layui-input-block">
					<select id="role" name="role" lay-filter="role"
						class="layui-select">
						<option th:each="role : ${roleList}" th:value="
						${role.id}"
							th:text="${role.roleName}">全部</option>
					</select>
				</div>
			</div>				
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="save" id="addBtn" onclick="saveMember()">立即提交</button>
					<button type="reset" class="layui-btn layui-btn-primary"
						id="closeBtn" onclick="CloseWin()">关闭</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>