<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="query" class="layui-main">
		<style type="text/css">
.layui-table-cell {
	height: auto;
	line-height: 22px;
}
</style>
		<script type="text/javascript">
			layui.use('laydate', function() {

				var laydate = layui.laydate;

				//执行一个laydate实例
				laydate.render({
					elem : '#orderBeginTime' //指定元素
					,
					value : new Date(new Date() - 1000 * 60 * 60 * 24)
				});
				laydate.render({
					elem : '#orderEndTime' //指定元素
					,
					value : new Date(new Date() - 1000 * 60 * 60 * 24)
				});
			});
		</script>
		<script type="text/javascript">
			layui.use('table', function() {
				var table = layui.table;
				//第一个实例
				table.render({
					elem : '#OrderHistory',
					url : '/member/order/query' //数据接口
					,
					contentType : 'application/json',
					method : 'post',
					page : true //开启分页
					,
					where : {
						beginDate : new Date(new Date() - 1000 * 60 * 60 * 24)
								.format("yyyy-MM-dd"),
						endDate : new Date(new Date() - 1000 * 60 * 60 * 24)
								.format("yyyy-MM-dd"),
					},
					cols : [ [ //表头
					{
						field : 'id',
						title : 'ID',
						width : 60,
						sort : true,
					}, {
						field : 'goodName',
						title : '商品名称',
						width : 120
					}, {
						field : 'manufacturerName',
						title : '厂家',
						width : 80
					}, {
						field : 'specfications',
						title : '规格',
						width : 200,
					}, {
						field : 'memberPrice',
						title : '价格',
						width : 75
					}, {
						field : 'orderTime',
						title : '订购时间',
						width : 170,
						sort : true
					}, {
						field : 'orderDate',
						title : '订购日期',
						width : 120
					}, {
						field : 'num',
						title : '订购数量',
					} ] ],
					done : function(res, curr, count) {
						$('#amount').html(res.amount);
					}
				});
				var $ = layui.$, active = {
					reload : function() {
						//执行重载
						table.reload('OrderHistory', {
							page : {
								curr : 1
							//重新从第 1 页开始
							},
							where : {
								beginDate : $("#orderBeginTime").val(),
								endDate : $("#orderEndTime").val(),
							}
						});
					}
				};
				$('#queryButton').on('click', function() {
					var t1 = new Date($('#orderBeginTime').val()).getTime();//返回从1970-1-1开始计算到Date对象中的时间之间的毫秒数
					var t2 = new Date($('#orderEndTime').val()).getTime();//返回从1970-1-1开始计算到Date对象中的时间之间的毫秒数
					if (t1 > t2) {
						alert('开始时间不能大于结束时间');
						return;
					}
					var datetime = 1000 * 60 * 60 * 24; //一天时间的毫秒值 
					var minusDays = Math.floor(((t2 - t1) / datetime));//计算出两个日期天数差 
					var days = Math.abs(minusDays);//如果结果为负数，取绝对值
					if (days > 31) {
						alert('查询时间跨度不能大于1个月');
						return;
					}
					if(!lessThanCurrOrderDate($('#orderEndTime').val())){
						alert('只能查当前订购时间以前的订单');
						return;
					}
					var type = $(this).data('type');
					active[type] ? active[type].call(this) : '';
				});
			});

			$(function() {
				$("#downloadButton").click(
						function() {
							var t1 = new Date($('#orderBeginTime').val())
									.getTime();//返回从1970-1-1开始计算到Date对象中的时间之间的毫秒数
							var t2 = new Date($('#orderEndTime').val())
									.getTime();//返回从1970-1-1开始计算到Date对象中的时间之间的毫秒数
							if (t1 > t2) {
								alert('开始时间不能大于结束时间');
								return;
							}
							var datetime = 1000 * 60 * 60 * 24; //一天时间的毫秒值 
							var minusDays = Math.floor(((t2 - t1) / datetime));//计算出两个日期天数差 
							var days = Math.abs(minusDays);//如果结果为负数，取绝对值
							if (days > 31) {
								alert('查询时间跨度不能大于1个月');
								return;
							}

							window.location.href = '/member/order/export?beginDate='
									+ $("#orderBeginTime").val() + '&endDate='
									+ $("#orderEndTime").val();
						});
			});
		</script>
		<div class="layui-inline mgr10">
			<label>开始时间:</label>
			<div class="layui-input-inline">
				<input type="text" id="orderBeginTime">
			</div>
		</div>
		<div class="layui-inline mgr10">
			<label>结束时间:</label>
			<div class="layui-input-inline">
				<input type="text" id="orderEndTime">
			</div>
		</div>
		<div class="layui-inline mgr10">
			<button class="layui-btn layui-btn-radius" id="queryButton"
				data-type="reload">查询</button>
		</div>
		<div class="layui-inline">
			<button class="layui-btn layui-btn-radius" id="downloadButton">下载</button>
		</div>
		<div>
			<table id="OrderHistory" lay-filter="OrderHistory"></table>
		</div>
		<div class="layui-inline">
			<label>合计:&nbsp;<span id="amount"></span></label>
		</div>
	</div>
</body>
</html>
