<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjh.InventoryMng.mapper.TCompanyProfitMapper">
  <resultMap id="BaseResultMap" type="com.cjh.InventoryMng.entity.TCompanyProfit">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="goods_profit" jdbcType="INTEGER" property="goodsProfit" />
    <result column="manager_profit" jdbcType="INTEGER" property="managerProfit" />
    <result column="freight_cost" jdbcType="INTEGER" property="freightCost" />
    <result column="all_cost" jdbcType="INTEGER" property="allCost" />
    <result column="approved_account" jdbcType="INTEGER" property="approvedAccount" />
    <result column="month" jdbcType="VARCHAR" property="month" />
    <result column="salary_cost" jdbcType="INTEGER" property="salaryCost" />
    <result column="tuiguang_reduce" jdbcType="INTEGER" property="tuiguangReduce" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, goods_profit, manager_profit, freight_cost, all_cost, approved_account, month, 
    salary_cost, tuiguang_reduce
  </sql>
  <select id="selectByExample" parameterType="com.cjh.InventoryMng.entity.TCompanyProfitExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_company_profit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_company_profit
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_company_profit
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cjh.InventoryMng.entity.TCompanyProfit">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_company_profit (goods_profit, manager_profit, freight_cost, 
      all_cost, approved_account, month, 
      salary_cost, tuiguang_reduce)
    values (#{goodsProfit,jdbcType=INTEGER}, #{managerProfit,jdbcType=INTEGER}, #{freightCost,jdbcType=INTEGER}, 
      #{allCost,jdbcType=INTEGER}, #{approvedAccount,jdbcType=INTEGER}, #{month,jdbcType=VARCHAR}, 
      #{salaryCost,jdbcType=INTEGER}, #{tuiguangReduce,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cjh.InventoryMng.entity.TCompanyProfit">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_company_profit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsProfit != null">
        goods_profit,
      </if>
      <if test="managerProfit != null">
        manager_profit,
      </if>
      <if test="freightCost != null">
        freight_cost,
      </if>
      <if test="allCost != null">
        all_cost,
      </if>
      <if test="approvedAccount != null">
        approved_account,
      </if>
      <if test="month != null">
        month,
      </if>
      <if test="salaryCost != null">
        salary_cost,
      </if>
      <if test="tuiguangReduce != null">
        tuiguang_reduce,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsProfit != null">
        #{goodsProfit,jdbcType=INTEGER},
      </if>
      <if test="managerProfit != null">
        #{managerProfit,jdbcType=INTEGER},
      </if>
      <if test="freightCost != null">
        #{freightCost,jdbcType=INTEGER},
      </if>
      <if test="allCost != null">
        #{allCost,jdbcType=INTEGER},
      </if>
      <if test="approvedAccount != null">
        #{approvedAccount,jdbcType=INTEGER},
      </if>
      <if test="month != null">
        #{month,jdbcType=VARCHAR},
      </if>
      <if test="salaryCost != null">
        #{salaryCost,jdbcType=INTEGER},
      </if>
      <if test="tuiguangReduce != null">
        #{tuiguangReduce,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cjh.InventoryMng.entity.TCompanyProfitExample" resultType="java.lang.Long">
    select count(*) from t_company_profit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_company_profit
    <set>
      <if test="record.id != null">
        Id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.goodsProfit != null">
        goods_profit = #{record.goodsProfit,jdbcType=INTEGER},
      </if>
      <if test="record.managerProfit != null">
        manager_profit = #{record.managerProfit,jdbcType=INTEGER},
      </if>
      <if test="record.freightCost != null">
        freight_cost = #{record.freightCost,jdbcType=INTEGER},
      </if>
      <if test="record.allCost != null">
        all_cost = #{record.allCost,jdbcType=INTEGER},
      </if>
      <if test="record.approvedAccount != null">
        approved_account = #{record.approvedAccount,jdbcType=INTEGER},
      </if>
      <if test="record.month != null">
        month = #{record.month,jdbcType=VARCHAR},
      </if>
      <if test="record.salaryCost != null">
        salary_cost = #{record.salaryCost,jdbcType=INTEGER},
      </if>
      <if test="record.tuiguangReduce != null">
        tuiguang_reduce = #{record.tuiguangReduce,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_company_profit
    set Id = #{record.id,jdbcType=INTEGER},
      goods_profit = #{record.goodsProfit,jdbcType=INTEGER},
      manager_profit = #{record.managerProfit,jdbcType=INTEGER},
      freight_cost = #{record.freightCost,jdbcType=INTEGER},
      all_cost = #{record.allCost,jdbcType=INTEGER},
      approved_account = #{record.approvedAccount,jdbcType=INTEGER},
      month = #{record.month,jdbcType=VARCHAR},
      salary_cost = #{record.salaryCost,jdbcType=INTEGER},
      tuiguang_reduce = #{record.tuiguangReduce,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cjh.InventoryMng.entity.TCompanyProfit">
    update t_company_profit
    <set>
      <if test="goodsProfit != null">
        goods_profit = #{goodsProfit,jdbcType=INTEGER},
      </if>
      <if test="managerProfit != null">
        manager_profit = #{managerProfit,jdbcType=INTEGER},
      </if>
      <if test="freightCost != null">
        freight_cost = #{freightCost,jdbcType=INTEGER},
      </if>
      <if test="allCost != null">
        all_cost = #{allCost,jdbcType=INTEGER},
      </if>
      <if test="approvedAccount != null">
        approved_account = #{approvedAccount,jdbcType=INTEGER},
      </if>
      <if test="month != null">
        month = #{month,jdbcType=VARCHAR},
      </if>
      <if test="salaryCost != null">
        salary_cost = #{salaryCost,jdbcType=INTEGER},
      </if>
      <if test="tuiguangReduce != null">
        tuiguang_reduce = #{tuiguangReduce,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cjh.InventoryMng.entity.TCompanyProfit">
    update t_company_profit
    set goods_profit = #{goodsProfit,jdbcType=INTEGER},
      manager_profit = #{managerProfit,jdbcType=INTEGER},
      freight_cost = #{freightCost,jdbcType=INTEGER},
      all_cost = #{allCost,jdbcType=INTEGER},
      approved_account = #{approvedAccount,jdbcType=INTEGER},
      month = #{month,jdbcType=VARCHAR},
      salary_cost = #{salaryCost,jdbcType=INTEGER},
      tuiguang_reduce = #{tuiguangReduce,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>