<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>main</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<title>管理界面</title>
<link rel="stylesheet" th:href="@{/layui/css/layui.css}">
<link rel="stylesheet" th:href="@{/css/global.css}" />
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/jquery/jquery.min.js}"></script>
<script src="https://echarts.baidu.com/build/dist/echarts.js"></script>
<script th:src="@{/js/common.js}"></script>
</head>
<body class="layui-layout-body">
	<script  th:inline="javascript">
		require.config({
			paths : {
				echarts : 'https://echarts.baidu.com/build/dist'
			}
		});
		// 使用
		require([ 'echarts', 'echarts/chart/bar' ], function(ec) {
			var dateArray = [[${dates}]];
			var profitArray = [[${profits}]];
			var myChart = ec.init(document.getElementById('chart'));
			var options = {
				//定义一个标题
				title : {
					text : '最近一周的门店营收总和'
				},
				legend : {
					data : [ '营收-单位元' ]
				},
				//X轴设置
				xAxis : {
					data :  
								dateArray.split(',')
					       
				},
				yAxis : {},
				//name=legend.data的时候才能显示图例
				series : [ {
					name : '营收-单位元',
					type : 'bar',
					data :  
								profitArray.split(',')
					       
				} ]

			};
			myChart.setOption(options);
		});
	</script>

	<script>
		layui.use('element', function() {
			var element = layui.element;
		});
		layui.use('layer', function() {
			var layer = layui.layer;
		});
		function queryHisOrderReport() {
			$.ajax({
				type : "post",
				url : "/report/memberOrderReportPage",
				success : function(result) {
					$("#rightContent").html(result);
				},
				error : function() {
					alert("系统错误");
				}
			});
		}
		function queryMemberBill() {
			$.ajax({
				type : "post",
				url : "/report/memberBillReportPage",
				success : function(result) {
					$("#rightContent").html(result);
				},
				error : function() {
					alert("系统错误");
				}
			});
		}
		function querySupplierBill() {
			$.ajax({
				type : "post",
				url : "/report/supplierBillReportPage",
				success : function(result) {
					$("#rightContent").html(result);
				},
				error : function() {
					alert("系统错误");
				}
			});
		}
		function showResource() {
			$.ajax({
				type : "post",
				url : "/sys/managerResourcePage",
				success : function(result) {
					$("#rightContent").html(result);
				},
				error : function() {
					alert("系统错误");
				}
			});
		}
		function showPlatformProfitContent() {
			$.ajax({
				type : "post",
				url : "/financial/queryPlatformProfitContentPage",
				success : function(result) {
					$("#rightContent").html(result);
				},
				error : function() {
					alert("系统错误");
				}
			});
		}
		function showRole() {
			$.ajax({
				type : "post",
				url : "/sys/managerRolePage",
				success : function(result) {
					$("#rightContent").html(result);
				},
				error : function() {
					alert("系统错误");
				}
			});
		}
		function showGoods() {
			$.ajax({
				type : "post",
				url : "/sys/managerGoodsPage",
				success : function(result) {
					$("#rightContent").html(result);
				},
				error : function() {
					alert("系统错误");
				}
			});
		}
		function showSuppliers() {
			$.ajax({
				type : "post",
				url : "/sys/managerSuppliersPage",
				success : function(result) {
					$("#rightContent").html(result);
				},
				error : function() {
					alert("系统错误");
				}
			});
		}
		function showMembes() {
			$.ajax({
				type : "post",
				url : "/sys/managerMembersPage",
				success : function(result) {
					$("#rightContent").html(result);
				},
				error : function() {
					alert("系统错误");
				}
			});
		}
		function showMemberOrder() {
			$.ajax({
				type : "post",
				url : "/financial/queryFinancialMemberOrderPage",
				success : function(result) {
					$("#rightContent").html(result);
				},
				error : function() {
					alert("系统错误");
				}
			});
		}
		function showMemberReduce() {
			$.ajax({
				type : "post",
				url : "/financial/queryMemberReducePage",
				success : function(result) {
					$("#rightContent").html(result);
				},
				error : function() {
					alert("系统错误");
				}
			});
		}
		function analyzeManjian() {
			$.ajax({
				type : "post",
				url : "/analyze/analyzeManjianPage",
				success : function(result) {
					$("#rightContent").html(result);
				},
				error : function() {
					alert("系统错误");
				}
			});	
		}
		function analyzeTejia(){
			$.ajax({
				type : "post",
				url : "/analyze/analyzeTejiaPage",
				success : function(result) {
					$("#rightContent").html(result);
				},
				error : function() {
					alert("系统错误");
				}
			});				
		}
		function queryUseGoodsReport(){
			$.ajax({
				type : "post",
				url : "/report/useGoodsReportPage",
				success : function(result) {
					$("#rightContent").html(result);
				},
				error : function() {
					alert("系统错误");
				}
			});				
		}	
		function showAccountRecord(){
			$.ajax({
				type : "post",
				url : "/financial/queryAccountRecordsPage",
				success : function(result) {
					$("#rightContent").html(result);
				},
				error : function() {
					alert("系统错误");
				}
			});		
		}
	</script>
	<article class="layui-layout layui-layout-admin">
		<div class="layui-header" th:include="header::header"></div>
		<div class="layui-side layui-bg-black">
			<div class="layui-side-scroll">
				<ul class="layui-nav layui-nav-tree" lay-filter="test">
					<!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
					<li class="layui-nav-item layui-nav-itemed"><a
						href="javascript:;">报表</a>
						<dl class="layui-nav-child">
							<dd>
								<a shiro:hasPermission="report:all" id="initClick"
									href="javascript:;" onclick="queryHisOrderReport()">货款利润报表</a>
							</dd>
							<dd>
								<a shiro:hasPermission="report:all" href="javascript:;"
									onclick="queryUseGoodsReport()">商品消耗报表</a>
							</dd>							
							<dd>
								<a shiro:hasPermission="report:memberBillReportPage"
									href="javascript:;" onclick="queryMemberBill()">加盟商结算报表</a>
							</dd>
							<dd>
								<a shiro:hasPermission="report:all" href="javascript:;"
									onclick="querySupplierBill()">供应商结算报表</a>
							</dd>
						</dl></li>
					<li class="layui-nav-item "><a
						href="javascript:;">经营分析</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="javascript:;" onclick="analyzeManjian()">满减分析</a>
							</dd>						
							<dd>
								<a href="javascript:;" onclick="analyzeTejia()">特价分析</a>
							</dd>
						</dl></li>	
					<li shiro:hasPermission="financial:query" class="layui-nav-item"><a
						href="javascript:;">账务管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="javascript:;" onclick="showPlatformProfitContent()">加盟商平台收入管理</a>
							</dd>
						</dl>
						<dl class="layui-nav-child">
							<dd>
								<a href="javascript:;" onclick="showMemberOrder()">加盟商采购管理</a>
							</dd>
						</dl>
						<dl class="layui-nav-child">
							<dd>
								<a href="javascript:;" onclick="showMemberReduce()">加盟商减免管理</a>
							</dd>
						</dl>
						<dl class="layui-nav-child">
							<dd>
								<a href="javascript:;" onclick="showAccountRecord()">报销申请</a>
							</dd>
						</dl>						
						</li>
					<li shiro:hasPermission="sys:all" class="layui-nav-item"><a
						href="javascript:;">系统管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="javascript:;" onclick="showResource()">资源管理</a>
							</dd>
						</dl>
						<dl class="layui-nav-child">
							<dd>
								<a href="javascript:;" onclick="showRole()">角色管理</a>
							</dd>
						</dl>
						<dl class="layui-nav-child">
							<dd>
								<a href="javascript:;" onclick="showGoods()">商品管理</a>
							</dd>
						</dl>
						<dl class="layui-nav-child">
							<dd>
								<a  href="javascript:;"
									onclick="showSuppliers()">供应商管理</a>
							</dd>
						</dl>
						<dl class="layui-nav-child">
							<dd>
								<a href="javascript:;" onclick="showMembes()">加盟商管理</a>
							</dd>
						</dl></li>
				</ul>
			</div>
		</div>
		<div id="rightContent" class="layui-body mgt10">
			<div class="layui-main">
				<div id="chart" style="width: 1180px; height: 400px;"></div>
			</div>
		</div>
		<div id="open-main" style="display: none;"></div>
	</article>
</body>
</html>